<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>One Page Resume</title>


	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	
     <!-- <style type="text/css">
        
     <!-- </style>  -->
</head>

<body>

    <div id="page-wrap">
    
        <img src="/static/images/cthulu.png" alt="Photo of Vittorio Apicella" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Vittorio Apicella</h1>
        
            <p>
                <h5 class="city">City: London (UK)</h5>
                <h5 class="tel">Cell: (+44)07775714607</h5>
                <h5 class="email" href="mailto:apicellavittorio@hotmail.it">Email: apicellavittorio@hotmail.it</h5>
                 <h5 class="nationality">Nationality: Italian</h5>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic (ask anybody) young professional, seeking a
                career that fits my professional skills, personality, and murderous tendencies.

            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Work experience</dt>
            <dd>
                <h2>Barclays</h2>

                <p><strong>Quantitative Analyst</strong> <br />
                <p>
                    <ul>
                    <li> Set-up and development of internal software libraries and data reporting tools for pricing and risk-management (Python, SQL, C++, C# .NET, R) </li>
                    <li> Building tools (Python, SQL, C++, C# .NET, R) for portfolio analysis and risk monitoring in a versioned environment (git).</li>
                    <li> Experienced in objected oriented programming, functional programming, high performance techniques (multiprocessing, distributed programming)</li>
                    <li> Experienced in modeling, simulations, data analysis, machine learning and statistical techniques</li>
                    <li> Presentation of the results to the management and handling of relationships with senior business stakeholders </li></p>
                    </ul>
                </p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Office skills</h2>
                <p>Office and records management, database administration, event organization, customer support, travel coordination</p>
                
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Doomsday Cult <span>Leader/Overlord - Baton Rogue, LA - 1926-2010</span></h2>
                <ul>
                    <li>Inspired and won highest peasant death competition among servants</li>
                    <li>Helped coordinate managers to grow cult following</li>
                    <li>Provided untimely deaths to all who opposed</li>
                </ul>
                
                <h2>The Watering Hole <span>Bartender/Server - Milwaukee, WI - 2009</span></h2>
                <ul>
                    <li>Worked on grass-roots promotional campaigns</li>
                    <li>Reduced theft and property damage percentages</li>
                    <li>Janitorial work, Laundry</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
            <dd class="clear"></dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>